packages: [
  "aligner"
  "atom-ctags"
  "atom-numbers"
  "color-picker"
  "emmet"
  "file-icons"
  "git-plus"
  "git-time-machine"
  "highlight-selected"
  "increment-me"
  "js-hyperclick"
  "language-javascript-jsx"
  "linter"
  "linter-eslint"
  "linter-jshint"
  "linter-rubocop"
  "linter-scss-lint"
  "merge-conflicts"
  "package-sync"
  "pigments"
  "project-manager"
  "split-diff"
  "svg-preview"
  "toggle-quotes"
  "Zen"
]
